body {
    background-color: whitesmoke;
    margin: auto;
}

.sidebar {
    position: fixed;
    background-color: navy;
    border-radius: 5px 0 0 5px;
    min-height: 100svh;
    max-height: 100svh;
    top: 0;
    right:0;
    bottom: 0;
    padding: 5px;
    direction:rtl;
}

    .sidebar a {
        color: white !important;
        margin-top:3px;
        display: block;
        padding: 5px 2px;
        text-decoration: none;
        transition: 0.3s;
    }

        .sidebar a span {
            color: orange;
            margin-left:3px;
        }

        .sidebar a:hover {
            cursor: pointer;
            color: orange !important;
        }
