<div class="slider">

    <!-- slide1 -->
    <div class="shape-left">
        <img src="~/image/site/slider/slide1.webp">
        <div class="detail">
            <h1>THE NEW X5</h1>
            <h3>THE NEW BMW X5. ARRIVING IN MID-2023</h3>

            <button>Discover now</button>
        </div>
    </div>

    <!-- slide2 -->
    <div class="shape-center">
        <img src="~/image/site/slider/slide2.webp">
        <div class="detail">
            <h1>THE NEW X5</h1>
            <h3>THE NEW BMW X5. ARRIVING IN MID-2023</h3>

            <button>Discover now</button>
        </div>
    </div>

    <!-- slide3 -->
    <div class="shape-right">
        <img src="~/image/site/slider/slide3.webp">
        <div class="detail">
            <h1>THE NEW X5</h1>
            <h3>THE NEW BMW X5. ARRIVING IN MID-2023</h3>

            <button>Discover now</button>
        </div>
    </div>


</div>