
<header>
   <!-- menu bar -->
<div class="bar">

    <!-- title -->
    <div class="title">
        <h1>Sheer Driving Pleasure</h1>

        <!-- search -->
        <input type="text" placeholder="search...">
    </div>


    <!-- menu logo -->
    <div class="logo">
        <h1>B M W</h1>
        <img src="~/image/site/bmw-logo.png" alt="bmw-site-header">
    </div>
</div>

<!-- menu button -->
<div class="buttons">
    <a class="a1">Home</a> |
    <a class="a2">Cars</a> |
    <a class="a3">Groups</a> |
    <a class="a4">About Us</a>
</div>

</header>