
<header>
    <!-- menu bar -->
    <div class="bar">

        <!-- menu logo -->
        <div class="logo">
            <h1>B M W</h1>
            <img src="~/image/site/bmw-logo.png" alt="bmw-site-header">
        </div>

        <!-- title -->
        <div class="title">
            <h1>Sheer Driving Pleasure</h1>
            <span class="fa fa-search"></span>
            <!-- search -->
            <input type="text" placeholder="search...">
        </div>



    </div>

    <!-- menu button -->
    <div class="buttons">
        <a class="a1">
            <span class="fa fa-home"></span>
            <span>Home</span>
        </a> |

        <a class="a2">
            <span class="fa fa-car"></span>
            <span>Cars</span>
        </a> |


        @{
            if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="profile" asp-action="index" class="a3 text-warning">
                    <span class="fa fa-user"></span>
                    <span>profile</span>
                </a>
            }
            else
            {
                <a asp-controller="account" asp-action="login" class="a3">
                    <span class="fa fa-sign-in"></span>
                    <span>login</span>
                </a>
            }
        }
        |

        <a class="a4">
            <span class="fa fa-info"></span>
            <span>About Us</span>
        </a> |

        <a class="a3">
            <span class="fa fa-shopping-cart"></span>
        </a>
    </div>

</header>