@model CarShop.Database.Models.ProductFeature

@{
    ViewData["Title"] = "CreateProductFeature";
    Layout = "~/Areas/Admin/Views/Shared/_PanelLayout.cshtml";
}

<partial name="productFeaturesPartial" model="ViewBag.ProductFeatures" />

<h1>CreateProductFeature</h1>

<h4>ProductFeature</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProductFeature">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class ="form-control" value="@ViewBag.ProductId" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="FeatureId" class="control-label"></label>
                <select asp-for="FeatureId" class ="form-control" asp-items="ViewBag.FeatureId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

